/*Subtle*/
.card-1 {
  background: #fffdd4;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 1s cubic-bezier(.25,.8,.25,1);
  margin-bottom: 15px !important;
}

.card-1:hover {
  background: #fffdd4;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.hr{
	width: 60px !important;
	background: #dad8d8;
	height: 4px !important;
	position: relative;
	left: 48%;
}

.a-legant{
	text-decoration: none !important;
	color: #000 !important;
	box-shadow: inset 0 -4px 0 #c0e6f7 !important;
}

.a-legant:hover{
	background: #c0e6f7 !important;
}

.ad-image{
	width: 100%;
	height: 100%;
}

#social-media-buttons{
	text-align: right;
    top: 19px;
    /* right: -538px; */
    /* display: flex; */
    /* flex-direction: row; */
    position: relative;
    z-index: 50;
    padding-right: 20px;
    margin-top: -30px;
    /* padding: 0px !important; */
}

#social-media-buttons .btn-fab{
	margin-right: 3px;
}

#facebook{
	background: #3d5b99d6 !important;
}

#twitter{
	background: #1da1f2d6 !important;
}

#instagram{
	background: #2196F3d6 !important;
}

#me{
	color: #f6f6f6 !important;
}

.big-font{
	font-size: 17px;
}

.empty-space{
	height: 50px;
}

#registration-form{
  width: 100%;
}

#venue-map{
  width: 100%;
}

.subscribe-box{
	text-align: center !important;
}

#slide-67-layer-7{
	background: #ad231e;
}

#slide-67-layer-7:hover{
	background: #ad231e !important;
}

body{
	background: #ffffe4 !important;
}

.nav-bg{
	background: #ffffe4 !important;
}

.wpb-mobile-menu a{

}

.slicknav_nav .active a {
	color: #ad231e;
	background: unset;
}

.slicknav_nav a:hover {
	color: #ad231e !important;
	background: unset;
}

.navbar-brand img {
	width: 180px;
}

.navbar-brand {
	top: 0px;
}