{% extends "base.html" %}
{% load staticfiles %}

{% block title %}404{% endblock title %}

{% block content %}


<section class="matrl-error-section section-padding section-dark">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<h1 class="wow animated fadeInRight" data-wow-delay=".2s">404</h1>
<h2 class="wow animated fadeInRight" data-wow-delay=".4s">This is not the page you are looking for!</h2>
<a href="/" class="wow animated fadeInUp btn btn-common mt-5" data-wow-delay=".6s"><i class="material-icons mdi mdi-home"></i> Back home<div class="ripple-container"></div></a>
</div>
</div>
</div>
</section>


{% endblock content %}