{% extends "article_base.html" %}
{% load staticfiles %}
{% block title%}Title{% endblock title %}
{% block article-content %}
    <section class="page-title-section section-padding">
<div class="container">
<div class="row">
<div class="col-md-12">
{#<h2 class="page-tagline">{{ article.title }}</h2>#}
<h1 class="page-title">{{ article.title }}</h1>
</div>
</div>
</div>
</section>


<section class="matrl-blog-post-page section-padding">
<div class="container">
<div class="row">

<div class="col-md-12 col-xs-12 col-lg-9 wow animated fadeInUp">
<article class="single-post wow fadeInUp animated" data-wow-delay=".2s">
    {% if article.image %}
<div class="text-center post-image">
<img src='{{ article.image.url }}' class="img-fluid" alt="{{ article.title }} image">
</div>
    {% endif %}
<h2>{{ article.title }}</h2>
    <div class="post-date">
        <span><b>{{ article.pub_date }}</b></span>
    </div>
    {{ article.article }}

{% endblock article-content %}