{% extends "base.html" %}
{% load staticfiles %}
{% block blog-2 %} active{% endblock blog-2 %}
{% block blog %} active{% endblock blog %}

{% block content %}



{% block article-content %}
{% endblock article-content %}
<div class="single-post-meta">
<div class="post-tag">
<i class="material-icons mdi mdi-bookmark-outline"></i>
</div>
</div>
</article>

</div>

<div class="col-md-12 col-xs-12 col-lg-3 blog-sidebar-column">
                    <div class="row">
                        {% for ad1, ad2 in ads %}

                            <aside class="col-lg-12 col-md-5 col-sm-5 col-xs-5 single-sidebar-widget subscribe-widget no-padding  wow animated fadeInUp"
                                   data-wow-delay=".3s">
                                <div class="featured-image">
                                    <a href="{{ ad1.link_to_details }}">
                                        <img class="ad-image" src='{{ ad1.image.url }}' alt="">
                                    </a>
                                </div>
                                <div class="subscribe-box">
                                    {{ ad1.content }}

                                </div>
                            </aside>
                            <div class="col-md-2 col-sm-2 col-xs-2 col-lg-0"></div>

                            <aside class="col-lg-12 col-md-5 col-sm-5 col-xs-5 single-sidebar-widget subscribe-widget no-padding  wow animated fadeInUp"
                                   data-wow-delay=".3s">
                                <div class="featured-image">
                                    <a href="{{ ad2.link_to_details }}">
                                        <img class="ad-image" src='{{ ad2.image.url }}' alt="">
                                    </a>
                                </div>
                                <div class="subscribe-box">
                                    {{ ad2.content }}

                                </div>
                            </aside>
                        {% endfor %}
                    </div>

                </div>

</div>
</div>
</section>

{% endblock content %}