{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Blog{% endblock title %}
{% block blog-2 %} active{% endblock blog-2 %}
{% block blog %} active{% endblock blog %}

{% block content %}


    <section class="page-title-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-tagline">Stay in touch with</h2>
                    <h1 class="page-title">The Blog</h1>
                </div>
            </div>
        </div>
    </section>


    <section class="matrl-blog-post-page section-padding">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-lg-9 col-xs-12 blog-post-column">
                    <div class="row">

                        <div class="col-md-6 no-padding">

                            {% for post in odd_posts %}

                                {% if post.image %}


                                    <div class="col-md-12 wow animated fadeInUp" data-wow-delay=".2s">
                                        <article class="single-blog-post">

                                            <div class="featured-image">
                                                <a href="#">
                                                    <img src='{{ post.image.url }}' alt="">
                                                </a>
                                            </div>

                                            <div class="post-meta">
                                                <div class="post-date">
                                                    <span><b>{{ post.pub_date }}</b></span>
                                                </div>

                                                <a href="{{ post.get_absolute_url }}">
                                                    <h2 class="subtitle">{{ post.title }}</h2>
                                                </a>
                                                <p>{{ post.too_long_to_read }}</p>
                                            </div>
                                        </article>
                                    </div>

                                {% endif %}

                                {% if not post.image %}

                                    <div class="col-md-12  wow animated fadeInUp" data-wow-delay=".3s">
                                        <article class="single-blog-post post-without-image">

                                            <div class="featured-image blue-bg">
                                            </div>

                                            <div class="post-meta">
                                                <div class="post-date">
                                                    <span><b>{{ post.pub_date }}</b></span>
                                                </div>

                                                <a href="{{ post.get_absolute_url }}">
                                                    <h2 class="subtitle">{{ post.title }}</h2>
                                                </a>
                                                <p>{{ post.too_long_to_read }}</p>
                                            </div>

                                        </article>
                                    </div>

                                {% endif %}

                            {% endfor %}

                        </div>

                        <div class="col-md-6 no-padding">

                            {% for post in even_posts %}

                                {% if post.image %}


                                    <div class="col-md-12 wow animated fadeInUp" data-wow-delay=".2s">
                                        <article class="single-blog-post">

                                            <div class="featured-image">
                                                <a href="#">
                                                    <img src='{{ post.image.url }}' alt="">
                                                </a>
                                            </div>

                                            <div class="post-meta">
                                                <div class="post-date">
                                                    <span><b>{{ post.pub_date }}</b></span>
                                                </div>

                                                <a href="{{ post.get_absolute_url }}">
                                                    <h2 class="subtitle">{{ post.title }}</h2>
                                                </a>
                                                <p>{{ post.too_long_to_read }}</p>
                                            </div>
                                        </article>
                                    </div>

                                {% endif %}

                                {% if not post.image %}

                                    <div class="col-md-12  wow animated fadeInUp" data-wow-delay=".3s">
                                        <article class="single-blog-post post-without-image">

                                            <div class="featured-image blue-bg">
                                            </div>

                                            <div class="post-meta">
                                                <div class="post-date">
                                                    <span><b>{{ post.pub_date }}</b></span>
                                                </div>

                                                <a href="{{ post.get_absolute_url }}">
                                                    <h2 class="subtitle">{{ post.title }}</h2>
                                                </a>
                                                <p>{{ post.too_long_to_read }}</p>
                                            </div>

                                        </article>
                                    </div>

                                {% endif %}

                            {% endfor %}

                        </div>

                        <!-- <div class="col-md-12 text-center mt-3 blog-pagination wow animated fadeInUp" data-wow-delay=".4s">
                        <a href="javascript:void(0)" class="btn btn-common"><i class="material-icons mdi mdi mdi-autorenew"></i> Load More Stories<div class="ripple-container"></div></a>
                        </div> -->

                    </div>
                </div>


                <div class="col-md-12 col-lg-3 col-xs-12 blog-sidebar-column">
                    <div class="row">
                        {% for ad1, ad2 in ads %}

                            <aside class="col-lg-12 col-md-5 col-sm-5 col-xs-5 single-sidebar-widget subscribe-widget no-padding  wow animated fadeInUp"
                                   data-wow-delay=".3s">
                                <div class="featured-image">
                                    <a href="{{ ad1.link_to_details }}">
                                        <img class="ad-image" src='{{ ad1.image.url }}' alt="">
                                    </a>
                                </div>
                                <div class="subscribe-box">
                                    {{ ad1.content }}

                                </div>
                            </aside>
                            <div class="col-md-2 col-sm-2 col-xs-2 col-lg-0"></div>

                            <aside class="col-lg-12 col-md-5 col-sm-5 col-xs-5 single-sidebar-widget subscribe-widget no-padding  wow animated fadeInUp"
                                   data-wow-delay=".3s">
                                <div class="featured-image">
                                    <a href="{{ ad2.link_to_details }}">
                                        <img class="ad-image" src='{{ ad2.image.url }}' alt="">
                                    </a>
                                </div>
                                <div class="subscribe-box">
                                    {{ ad2.content }}

                                </div>
                            </aside>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}