{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Event Guide{% endblock title %}
{% block hospitality-2 %} active{% endblock hospitality-2 %}
{% block hospitality %} active{% endblock hospitality %}

{% block content %}

    <section class="page-title-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-title">Event Guide</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="team section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                    <h1 class="section-title">Schedule</h1>
                </div>
            </div>
            {% if schedule.0 %}

            <div class="row">

                <div class="col-md-12 wow animated fadeInUp" data-wow-delay=".2s">
                    <h3 class="text-center subtitle">{{schedule.0.title}}</h3>
                    <div class="hr"></div>
                </div>
            </div>

            <div class="row big-font section-padding">

                <div class="card-1 col-md-9 col-lg-9 col-xl-9 wow animated fadeInUp" data-wow-delay=".2s">
                    <div class="padding about-single">
                        <div class="empty-space aqua"></div>
                        {{ schedule.0.short_summary }}
                    </div>
                </div>

                <div class="col-md-1 col-lg-1 col-xl-1"></div>

                <div class="col-md-2 col-lg-2 col-xl-2 wow animated fadeInRight" data-wow-delay=".2s">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-12" data-wow-delay=".2s">
                            <div class="about-single">
                                <i class="material-icons mdi mdi-calendar"></i>
                                <p>{{ schedule.0.date }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-12" data-wow-delay=".2s">
                            <div class="about-single">
                                <i class="material-icons mdi mdi-cash"></i>
                                <p>{{ schedule.0.cost }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                {% endif %}

        {% if schedule.1 %}

            <div class="row">
                <div class="col-md-12 wow animated fadeInUp" data-wow-delay=".2s">
                    <h3 class="text-center subtitle">{{ schedule.1.title }}</h3>
                    <div class="hr"></div>
                </div>
            </div>

            <div class="row big-font section-padding">

                <div class="col-md-2 col-lg-2 col-xl-2 wow animated fadeInRight" data-wow-delay=".2s">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-12" data-wow-delay=".2s">
                            <div class="about-single">
                                <i class="material-icons mdi mdi-calendar"></i>
                                <p>{{ schedule.1.date }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-12" data-wow-delay=".2s">
                            <div class="about-single">
                                <i class="material-icons mdi mdi-cash"></i>
                                <p>{{ schedule.1.cost }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-1 col-lg-1 col-xl-1"></div>

                <div class="card-1 col-md-9 col-lg-9 col-xl-9 wow animated fadeInUp" data-wow-delay=".2s">
                    <div class="padding about-single">
                        <div class="empty-space aqua"></div>
                        {{ schedule.1.short_summary }}
                    </div>
                </div>

            </div>

            {% endif %}
            {% if schedule.2 %}

            <div class="row">
                <div class="col-md-12 wow animated fadeInUp" data-wow-delay=".2s">
                    <h3 class="text-center subtitle">{{ schedule.2.title }}</h3>
                    <div class="hr"></div>
                </div>
            </div>

            <div class="row big-font section-padding">

                <div class="card-1 col-md-9 col-lg-9 col-xl-9 wow animated fadeInUp" data-wow-delay=".2s">
                    <div class="padding about-single">
                        <div class="empty-space aqua"></div>
                        {{ schedule.2.short_summary }}
                    </div>
                </div>

                <div class="col-md-1 col-lg-1 col-xl-1"></div>

                <div class="col-md-2 col-lg-2 col-xl-2 wow animated fadeInRight" data-wow-delay=".2s">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-12" data-wow-delay=".2s">
                            <div class="about-single">
                                <i class="material-icons mdi mdi-calendar"></i>
                                <p>{{schedule.2.date}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-12" data-wow-delay=".2s">
                            <div class="about-single">
                                <i class="material-icons mdi mdi-cash"></i>
                                <p>{{ schedule.2.cost }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
    </section>

    <section class="matrl-about-section section-padding section-dark">
        <div class="container">
            <div class="row">

                <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                    <h1 class="section-title">Immigration in a second</h1>
                </div>
            </div>

            <div class="big-font text-center row">
                <div class="col-md-3 col-lg-3 col-xl-3">
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                    Uganda has a fairly smooth immigration process. <a class="a-legant" href="https://www.worldtravelguide.net/guides/africa/uganda/passport-visa/">World Travel Guide</a> has a helpful section about it. Visit
                    <a href="https://immigration.go.ug/" class="a-legant">Uganda's Immigration Website</a> for your country's specifics. The visa application page in particular can be found
                    <a href="https://visas.immigration.go.ug/" class="a-legant">here</a>.
                </div>
            </div>
        <div class="col-md-12 wow animated fadeInUp" data-wow-delay=".2s">
                    <h3 class="text-center subtitle">Important to remember</h3>
                    <div class="hr"></div>
                </div>
            <div class="row section-padding">
                {% for guide in immigration_guides %}
                <div class="col-md-4 col-lg-4 col-xl-4 wow animated fadeInUp" data-wow-delay=".2s">
                    <div class="about-single">
                        <i class="material-icons mdi {{ guide.icon }}"></i>
                        <h2 class="subtitle">{{ guide.title }}</h2>
                        <p>{{ guide.content }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="row mt-4 wow animated fadeInUp" data-wow-delay=".3s">
                <div class="col-md-12 text-center">
                    <a href="https://immigration.go.ug/" class="animated4 btn btn-common" data-ripple-color="#000">
                        <div class="ripple-container"></div>
                        Details <i class="material-icons mdi mdi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </section>

    <section class="matrl-about-section section-padding section-dark">
        <div class="container">
            <div class="row">

                <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                    <h1 class="section-title">Venue and Location</h1>
                </div>
            </div>

            <div class="big-font text-center row">
                <div class="col-md-3 col-lg-3 col-xl-3">
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                    The event will be held at the Imperial Botanical Beach Hotel, Entebbe.
                </div>
            </div>

            <div id="map" class="row center">
                <iframe src="{{event_info.link_to_venue_map}}" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="row section-padding">

{#                <div id="map"></div>#}

            </div>
        </div>
    </section>

    <section class="team section-padding">
        <div class="container">
            <div class="row">

                <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                    <h1 class="section-title">Meet the team</h1>
                </div>
            </div>
            <div class="row">

                {% for member in team %}

                <div class="col-md-6 col-lg-4 col-xl-4 wow fadeInUp animated" data-wow-delay=".1s">
                    <div class="single-team-widget">
                        <img src='{{ member.image.url }}' class="img-fluid" alt="{{ '' }}">
                        <div class="team-member-info">
                            <div class="know-more">
                                <a class="btn btn-round btn-fab btn-xs" href="javascript:void(0)"><i
                                        class="material-icons mdi mdi-arrow-right"></i>
                                    <div class="ripple-container"></div>
                                </a>
                            </div>
                            <h2 class="subtitle">{{ member.name }}</h2>
                            <p>{{ member.role }}</p>
                            <div class="social-profiles">
                                <a href="{{ member.twitter_link }}"><i class="mdi mdi-twitter"></i></a>
                                <a href="{{ member.facebook_link }}"><i class="mdi mdi-facebook"></i></a>
                                <a href="{{ member.linkedIn_link }}"><i class="mdi mdi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>

{% endblock content %}
