{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Home{% endblock title %}
{% block home-2 %} active{% endblock home-2 %}
{% block home %} active{% endblock home %}

{% block content %}
    <div id="rev_slider" class="rev_slider_wrapper fullscreen-container" data-alias="website-intro"
         data-source="gallery">

        <div id="rev_slider_main" class="rev_slider fullscreenbanner tiny_bullet_slider" style="display:none;"
             data-version="5.4.1">
            <ul>

                <li data-index="rs-67" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                    data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="600"
                    data-thumb='{% static "images/slider/hills_2.png" %}' data-rotate="0" data-saveperformance="off"
                    data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5=""
                    data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description=""
                    data-slicey_shadow="0px 0px 0px 0px transparent">

                    <img src='{% static "images/slider/hills_2.png" %}' alt="" data-bgposition="center center"
                         data-kenburns="on" data-duration="5000" data-ease="Power2.easeInOut" data-scalestart="100"
                         data-scaleend="150" data-rotatestart="0" data-rotateend="0" data-blurstart="20"
                         data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg"
                         data-no-retina>


                    <div class="tp-caption  tp-resizeme" id="slide-67-layer-2"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-140','-140','-140','-140']"
                         data-fontsize="['75','75','65','55']" data-lineheight="['75','75','65','55']"
                         data-width="['none','none','550','450']" data-height="none"
                         data-whitespace="['nowrap','nowrap','normal','normal']" data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                         style="z-index: 19; white-space: nowrap; font-size: 70px; line-height: 70px; font-weight: 900; color: #ffffff; letter-spacing: 2px; font-family: 'Montserrat', sans-serif;">
                        The 8<sup>th</sup> African Pharmaceutical Symposium
                    </div>

                    <div class="tp-caption tp-resizeme" id="slide-67-layer-3"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['10','15','10','5']"
                         data-fontsize="['40','40','35','30']" data-lineheight="['40','40','35','30']"
                         data-height="none" data-type="text" data-responsive_offset="on"
                         data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                         style="z-index: 20; font-size: 25px; line-height: 35px; font-weight: 400; color: #ffffff; letter-spacing: 0px; font-family: 'Roboto', sans-serif;">
                        Kampala, Uganda '19
                    </div>

                    <div class="tp-caption   tp-resizeme" id="slide-67-layer-3"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['120','180','120','60']"
                         data-fontsize="['25','25','25','20']" data-lineheight="['35','35','35','30']"
                         data-height="none" data-type="text" data-responsive_offset="on"
                         data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                         style="z-index: 20; font-size: 25px; line-height: 35px; font-weight: 400; color: #ffffff; letter-spacing: 0px; font-family: 'Roboto', sans-serif;">
                        "{{ event_info.theme }}"
                    </div>

                    <a class="tp-caption rev-btn  tp-resizeme btn btn-common animated" href="register" target="_blank"
                       id="slide-67-layer-7" data-x="['center','center','center','center']"
                       data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                       data-voffset="['300','250','300','250']" data-width="250" data-height="none"
                       data-whitespace="nowrap" data-type="button" data-actions='' data-responsive_offset="on"
                       data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;","style":"c:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
                       data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                       data-paddingright="[50,50,50,50]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[50,50,50,50]"
                       style="z-index: 21; letter-spacing: 0.1rem; font-weight: 900; padding: 10px 20px; font-size: 16px; line-height: 60px;"><i
                            class="material-icons mdi mdi-lightbulb-outline"></i> Participate
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <section class="matrl-about-section section-padding">
        <div class="container">
            <div class="section-padding row">
                {% if why %}
                <div class="card-1 col-md-5 col-lg-5 col-xl-5 wow animated fadeInUp" data-wow-delay=".2s">
                    <div class="about-single">
                        <i class="material-icons mdi mdi-lightbulb-on-outline"></i>
                        <h2 class="subtitle">{{ why.title }}</h2>
                        <p>{{ why.words }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="col-md-2 col-lg-2 col-xl-2"></div>
                {% if how %}
                <div class="card-1 col-md-5 col-lg-5 col-xl-5 wow animated fadeInUp" data-wow-delay=".3s">
                    <div class="about-single">
                        <i class="material-icons mdi mdi-pulse"></i>
                        <h2 class="subtitle">{{ how.title }}</h2>
                        <p>{{ how.words }}</p>
                    </div>
                </div>
                {% endif %}
                <div class="card-1 col-md-5 col-lg-5 col-xl-5 wow animated fadeInUp" data-wow-delay=".4s">
                    <div class="about-single">
                        <i class="material-icons mdi mdi-google-circles-communities"></i>
                        <h2 class="subtitle">Organisers</h2>
                        <p><a class="a-legant" href="http://pharmacy.go.ug">The Pharmacists Organisation of Uganda</a>,
                            in collaboration with <a class="a-legant" href="http://pharmacy.go.africa">The Africa
                                Pharmacists Collective</a> and the <a class="a-legant" href="http://pharmacy.org">International
                                Organisation of Pharmacists</a> will take charge of this year's event.</p>
                    </div>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2"></div>
                {% if pre %}
                <div class="card-1 col-md-5 col-lg-5 col-xl-5 wow animated fadeInUp" data-wow-delay=".5s">
                    <div class="about-single">
                        <i class="material-icons mdi mdi-checkbox-marked-circle-outline"></i>
                        <h2 class="subtitle">{{ pre.title }}</h2>
                        <p>{{ pre.words }}</p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </section>



    <section class="team section-padding section-dark">
        <div class="container">
            <div class="row">

                <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                    <h1 class="section-title">Previous Editions</h1>
                </div>
            </div>
            <div class="row wow animated fadeInUp" data-wow-delay=".3s">
                <div id="team-carousel" class="owl-carousel owl-theme">
{% for event in previous %}


                    <div class="item item">
                        <div class="">
                            <div class="single-team-widget">
                                <img src='{{ event.image.url }}' class="img-fluid" alt="{{ event.title }}">
                                <div class="team-member-info">
                                    <div class="know-more">
                                        <a class="btn btn-round btn-fab btn-xs" href="{{ event.link_to_details }}"><i
                                                class="material-icons mdi mdi-arrow-right"></i>
                                            <div class="ripple-container"></div>
                                        </a>
                                    </div>
                                    <h2 class="subtitle">Africa Pharmaceutical Symposium {{ event.year }}</h2>
                                    <p>{{ event.venue }}</p>
                                    <p>"{{ event.theme }}"</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>


    <section class="matrl-blog-section section-padding">
        <div class="container">
            <div class="row">

                <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                    <h1 class="section-title">Partners</h1>
                </div>
            </div>
            <div class="row">
                {% for partner in partners %}
                <div class="col-md-6 col-lg-4 col-xl-4 wow animated fadeInUp" data-wow-delay=".3s">
                    <article class="single-blog-post">

                        <div class="featured-image">
                            <a href="#">
                                <img src='{{ partner.image.url }}' alt="{{ partner.name }}">
                            </a>
                        </div>

                        <div class="post-meta">

                            <h2 class="subtitle">{{ partner.name }}</h2>
                            <p>{{ partner.about_them }}</p>
                        </div>
                        <div class="meta-tags">
                            <span class="comments"> Visit Website</span>

                            <a class="btn btn-round btn-fab" href="{{ partner.link_to_site }}"><i
                                    class="material-icons mdi mdi-arrow-right"></i>
                                <div class="ripple-container"></div>
                            </a>
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
            <div class="row mt-5 wow animated fadeInUp" data-wow-delay=".6s">
            </div>
        </div>
    </section>
{% endblock content %}